//== DEFAULT VALUE
//
//##
$dashboard-thumbnail-first: #2196F3; //linear-gradient(#1D976C, #93F9B9); //mojito
$max-height-top-header: 52px;
$default-grid-columns: 16;
$dashboard-thumbnail-content-bg: linear-gradient(#dE685E, #EE786E);

